$min-card-size: 14vw;
$max-card-size: 100px;
$card-gap: 5px;
$main-color: #bc4e9c;
$secondary-color: #f80759;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  @extend %nice-gradient;

  color: lighten($main-color, 100);
  small {
    display: block;
    font-size: 0.8rem;
  }
  svg {
    position: absolute;
    top: 8px;
    right: 8px;
    color: lighten($main-color, 100);
  }
}

h1,
h2 {
  margin: 0;
  padding: 0.5rem;
}

.game {
  display: block;
  margin: auto;
  width: 95%;
  max-width: $max-card-size * 6 + $card-gap * 7;
}

.boardgame {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: $card-gap;
  grid-row-gap: $card-gap;
  padding: $card-gap;
}

.highscores {
  overflow-y: scroll;
  height: 3.3rem;

  &-container {
    font-family: monospace;
  }
}

.card {
  cursor: pointer;
  width: $min-card-size;
  max-width: $max-card-size;
  height: $min-card-size;
  max-height: $max-card-size;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;

  &.face-up {
    transform: rotateY(180deg);
    cursor: not-allowed;
  }
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

  &--front {
    @extend %nice-gradient;

    font-size: 3rem;
    text-align: center;
    line-height: 2;
    color: white;
  }

  &--back {
    background-image: url(cards.png);
    background-size: 100%;
    transform: rotateY(180deg);
  }
}

@for $i from 0 through 17 {
  [data-number="#{$i}"] {
    background-position: 0 #{$i * 100% / 17};
  }
}

:root {
  --remaining: 100;
}

.progress {
  background-color: #c7c7c7;
  height: 3rem;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;

  &::after {
    counter-reset: variable var(--remaining);
    content: counter(variable);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  &-bar {
    @extend %nice-gradient;

    background-size: 23em 0.25em;
    height: 100%;
    position: relative;
    transition: width 1s;
    width: calc((var(--remaining) / var(--allocated)) * 100%);
  }
}

.credits {
  text-align: center;
  font-size: small;
}

%nice-gradient {
  background: $main-color;
  background: linear-gradient(to right, $secondary-color, $main-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
